<!DOCTYPE HTML>
<!--
  Copyright 2016 codecentric AG
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.name}">Sample App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="#{project.name}">Sample App</h1>
        <p class="lead">This a demo application for showing how to run <a href="http://projects.spring.io/spring-boot/">
            Spring Boot Security</a> application on <a href="https://openshift.com">OpenShift Origin</a>
            with a database store in<a href="https://www.mysql.com/fr/?sub=vp">MySQL</a>.
        </p>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<table>
        <tr>
            <th>Room Number</th>
            <th>Name</th>
            <th>Bed Info</th>
        </tr>
        <tr th:each="room:${rooms}">
            <td th:text="${room.number}"></td>
            <td th:text="${room.name}"></td>
            <td th:text="${room.info}"></td>
        </tr>
    </table>-->
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>